<html xmlns="http://www.w3.org/1999/xhtml" ng-app="DashboardDemo">
<head>
    <title>DealerOps Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
    
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="images/favicon.png">
    
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="~/Content/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.cyan-light_blue.min.css">
    <link href="~/Content/angular-chart.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @*<style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>*@
    <script language="javascript" type="text/javascript">
  function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      obj.style.width = obj.contentWindow.document.body.width + 'px';
  }
    </script>
</head>
<body ng-controller="dashboardController as dc" ng-cloak>
    @*<div>
        <label for="selectstore">Select a Store: </label>
        <select name="selectstore" ng-model="dc.selectedStore" ng-options="store as store.label for store in dc.stores track by store.storeNum" ng-change="dc.saveInCookies()">
        </select>
    </div>*@    
   <ng-view></ng-view> 
    
   
    <script src="https://code.getmdl.io/1.1.2/material.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.js"></script>
    <script src="~/Scripts/angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-material/angular-material.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/angular-chart.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>



    <script src="~/ngDashboardDemo/scripts/app.js"></script>
    <script src="~/ngDashboardDemo/scripts/dashboardService.js"></script>
    <script src="~/ngDashboardDemo/scripts/dashboardController.js"></script>
    <script src="~/ngDashboardDemo/scripts/dashboardDirectives.js"></script>

</body>
</html>
