<main class="mdl-color--grey-100">
    <div class="mdl-grid">
        <div id="firstrow" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid">
            <cit-recap></cit-recap>
            <veh-ar-recap></veh-ar-recap>
            <new-models-inv></new-models-inv>
            <used-models-inv></used-models-inv>
        </div>
        <div id="secondrow" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid">
            <deal-recap></deal-recap>
            <vehicle-inv></vehicle-inv>
            <acct-trend></acct-trend>           
        </div>
        <div id="thirdrow" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid">
            <parts-inv></parts-inv>
        </div>
    </div>
</main>